# GitHub GraphQL API Token (Requires repo & user scopes)
GITHUB_TOKEN=your_github_personal_access_token_here

# Lanyard Discord User ID
NEXT_PUBLIC_DISCORD_ID=your_discord_id_here

# Vercel KV Database (For view counter)
KV_URL=redis://your_kv_url_here:port
KV_REST_API_URL=https://your_kv_rest_url_here
KV_REST_API_TOKEN=your_kv_rest_token_here
KV_REST_API_READ_ONLY_TOKEN=your_kv_read_only_token_here
