---
import { ClientRouter } from "astro:transitions"
import { KeyboardShortcuts } from "@/components/islands/KeyboardShortcuts"
import SEO from "@/components/global/SEO.astro"
import "@/styles/global.css"

interface Props {
  title?: string
  description?: string
  ogImage?: string
}

const {
  title,
  description,
  ogImage,
} = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    
    <title>{title || "Drenzzz | Portfolio"}</title>
    
    <SEO title={title} description={description} image={ogImage} />
    
    <ClientRouter />
    <slot name="head" />
  </head>
  <body class="min-h-screen antialiased selection:bg-primary selection:text-primary-foreground font-sans">
    <div class="relative flex min-h-screen flex-col">
      <slot />
    </div>
    <KeyboardShortcuts client:load />
  </body>
</html>
